/* LoginForm.css */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(147, 168, 184);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #092b4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #072e57;
  }
  
  .register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link a {
    color: #0c2b4c;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  .register-link {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: #190b0b; /* Font color for the already registered message */
  }