
.navbar-nav .nav-link {
  color: #fff;
  margin-right: 15px; 
  transition: color 0.3s ease-in-out; 
  font-size: 18px;
}


.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.navbar-nav .nav-link:hover {
  color: #d6aeae; 
}
.navbar {
  position: fixed;
  top: 0px;
  left: 35px;
  right: 40px;

}
