/* ParticipationForm.css */
.ParticipationForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(124, 138, 149);
}

.ParticipationForm h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #070505;
}

.ParticipationForm form {
  display: flex;
  flex-direction: column;
}

.ParticipationForm label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #1f1515;
}

.ParticipationForm select,
.ParticipationForm input,
.ParticipationForm textarea {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #190909;
  border-radius: 3px;
  font-size: 1rem;
}

.ParticipationForm button {
  padding: 10px 20px;
  background-color: #081421;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.ParticipationForm button:hover {
  background-color: #40556c;
}

.ParticipationForm .error-message {
  color: red;
  margin-top: 5px;
  font-size: 1rem;
}

.SubmittedDetails {
  background-color: #8ea6c1;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.SubmittedDetails p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #100909;
}
/* ParticipationForm.css */

/* ... (other styles) */

.ParticipationForm .medal-won {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Style individual checkboxes */
.ParticipationForm .medal-won input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px; /* Adjust as needed */
}
