/* .PrizeDetails {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(82, 45, 45, 0.1);
    text-align: centre;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .PrizeDetails h2 {
    font-size: 1.7em;
    margin-bottom: 10px;
  }
  
  .PrizeDetails p {
    font-size: 2rem;
    margin: 5px 0;
    
  
  } */
  
  /* You can add more styles as needed */
  /* PrizeDetailsForm.css */
/* .formContainer {
  max-width: 400px;
  margin: 0 auto;
  
}

.fieldContainer {
  margin-bottom: 20px;
}

.errorText {
  color: red;
  font-size: 12px;
} */
/* PrizeDetails.css */

.formContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #947b7b;
  border-radius: 5px;
  font-size: 16px;

  background-color: rgb(205, 205, 231);
}

.fieldContainer {
  margin-bottom: 15px;
}

.fieldContainer .MuiFormControl-root {
  width: 100%;
}

.errorText {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.submitButton {
  margin-top: 15px;
}
